<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <img
        src="https://pbs.twimg.com/profile_images/378800000107983641/e07f88f9eee6a64ab1cc0c69dd1ff314_400x400.jpeg" />
      <h2>{{appUser?.name}}</h2>
      <h4>{{appUser?.email}}</h4>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-list dense>
    <mat-list-item [routerLink]="'connections'">
      <mat-icon matListIcon>storage</mat-icon> CONNECTIONS
    </mat-list-item>
    <mat-list-item [routerLink]="'flows'">
      <mat-icon matListIcon>timeline</mat-icon> FLOWS
    </mat-list-item>
    <mat-list-item [routerLink]="'schedules'">
      <mat-icon matListIcon>schedule</mat-icon> SCHEDULES
    </mat-list-item>
    <mat-list-item [routerLink]="'audit'">
      <mat-icon matListIcon>assignment</mat-icon>AUDIT
    </mat-list-item>
  </mat-list>
</mat-nav-list>
