<div mat-dialog-title align="end"> <button mat-icon-button mat-dialog-close>
    <mat-icon> close</mat-icon>
  </button> </div>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-menu"> Menu </div>
    <div class="col">
      <div class="search">
      <form class="tp-form">
        <h4>Select Connection Type</h4>
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input type="text" matInput placeholder="Search">
        </mat-form-field>
      </form>
      </div>
      <mat-grid-list cols="3">
        <mat-grid-tile
            *ngFor="let connection of connections">
            <mat-card>
              <mat-card-content>

                <h3>{{connection.name}}</h3></mat-card-content>
            </mat-card>

        </mat-grid-tile>
      </mat-grid-list>

    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>
