<div mat-dialog-title align="end">
  <button mat-icon-button mat-dialog-close>
    <mat-icon> close</mat-icon>
  </button> </div>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-menu">
      <mat-nav-list>
        <mat-list-item (click)="showInfoAll()">
          <label>All</label>
       </mat-list-item>
        <mat-list-item (click)="showInfo(connection)" *ngFor="let connection of connections" >
           <label>{{ connection.name  }}</label>
        </mat-list-item>
      </mat-nav-list>

    </div>
    <div class="col">
      <div class="example-container1">
        <!-- <mat-label>Select Connection Type: </mat-label> -->
        <mat-form-field  appearance="outline" [floatLabel]="">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Select Connection Type</mat-label>
        <input matInput placeholder="Select Connection Type">
      </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let connectionType of connectionTypes">
            <mat-card (click)="navigate(connectionType)">
              <mat-card-header style="align-items: center;">{{connectionType.datasourcetype}}</mat-card-header>
              <mat-divider></mat-divider>
              <mat-card-content >
                <br>
              <img src="assets/images/{{connectionType.datasourcetype}}.png" >
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>
