<div fxLayout="row" fxLayoutGap="16px">
  <div fxFlex="25%">
    <mat-card class="connectionsbox">
      <mat-card-header>
        <form class="tp-form">
          <mat-form-field class="tp-full-width">
            <mat-label>Tags</mat-label>
            <mat-select multiple>
              <mat-option *ngFor="let tag of tags">{{ tag.tagname }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button color="primary">
            <mat-icon matSuffix>label</mat-icon>
          </button>
          <mat-form-field class="tp-full-width">
            <mat-label>Search</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input type="text" matInput placeholder="Search" [formControl]="filter" />
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </form>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <div style="overflow-y: auto;">
          <mat-nav-list *ngIf="dataHubs">
            <mat-list-item (click)="selectDataHub(dataHub)" *ngFor="let dataHub of filteredStates$ | async">
              <!-- <mat-pseudo-checkbox></mat-pseudo-checkbox> -->
                <span style="width: 100%; text-align: left;">{{ dataHub.datahubname }}</span>
                <mat-slide-toggle (change) = "changeActive($event)" [checked] = "dataHub.activeflag ==1? true : false "> </mat-slide-toggle>
                <button mat-icon-button color="warn" (click)="openDeleteDialog(dataHub)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
          </mat-nav-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="75%" [ngSwitch]="selectedConnectionType?.datasourcetype">
    <app-snowflake *ngSwitchCase="'Snowflake'" [selectedConnection]="selectedConnectionType" [dataHub]="dataHub"
      [tags]="tags" (saveFormEvent)="save($event)">SnowFlake</app-snowflake>
    <app-oracle *ngSwitchCase="'Oracle'" [selectedConnection]="selectedConnectionType" [dataHub]="dataHub" [tags]="tags"
      (saveFormEvent)="save($event)">Oracle</app-oracle>
      <app-postgres *ngSwitchCase="'Postgres'" [selectedConnection]="selectedConnectionType" [dataHub]="dataHub" [tags]="tags"
      (saveFormEvent)="save($event)">Postgres</app-postgres>
    <div *ngSwitchDefault>
      <mat-card class="form-card">
        <mat-card-header>
          <div mat-card-avatar style="
              background-image: url('assets/images/undefined.png');
              background-size: cover;
            "></div>
          <mat-card-title> Select Connections </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
