<div class="row">
  <div class="col-lg-3">
    <mat-card class="connectionsbox">
      <div class="btn-group">
        <button mat-button color='primary'> Connections </button>
        <button mat-button color='primary'> Listners </button>
        <button mat-button color='primary'> Formats </button>
      </div>
      <form class="tp-form">
        <mat-form-field class="tp-full-width">
          <mat-label>Tags...</mat-label>
          <mat-select multiple>
            <mat-option *ngFor="let tag of tags">{{tag}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button color="primary">
          <mat-icon matSuffix>label</mat-icon>
        </button>
        <mat-form-field class="tp-full-width">
          <mat-label>Search</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input type="text" matInput placeholder="Search">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </form>
    </mat-card>
  </div>
  <div class="col-lg-7">
    <form [formGroup]="formConnection">
      <mat-card class="form-card" *ngIf="selectedConnectionType">
        <mat-card-header> <img src='assets/images/{{selectedConnectionType.img}}' style="height: 50%;" slot="start">
          <mat-label> {{selectedConnectionType?.name}} Connection</mat-label>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Connection Name</mat-label>
            <input matInput placeholder="Name" formControlName="connectionName">
          </mat-form-field>
          <!-- Email -->
          <br>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Tags...</mat-label>
            <mat-select [formControl]="" multiple>
              <mat-option *ngFor="let tag of tags" [value]="tag">{{tag}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="description" formControlName="description" appearance="fill"> </textarea>
          </mat-form-field>
          <hr>
          <div style="text-align: right;">
            <label>URL * </label>
            <mat-form-field class="full-width" appearance="fill">
              <input matInput
                placeholder="jdbc:snowflake://account_name.snowflakecomputing.com/?warehouse=warehouse&db=database&schema=schema"
                formControlName="url">
            </mat-form-field>
            <hr>
            <label>Account Name </label>
            <mat-form-field class="full-width" appearance="fill">
              <input matInput placeholder="Enter Snowflake Account name" required>
            </mat-form-field>
            <br>
            <label>Warehouse Name </label>
            <mat-form-field class="full-width" appearance="fill">
              <input matInput placeholder="Enter Snowflake Wearhouse name" required>
            </mat-form-field>
            <br>
            <label>Database Name </label>
            <mat-form-field class="full-width" appearance="fill">
              <input matInput placeholder="Enter Snowflake Database name" required>
            </mat-form-field>
            <br>
            <label>Schema Name </label>
            <mat-form-field class="full-width" appearance="fill">
              <input matInput value="public">
            </mat-form-field>
            <hr>
            <label>User </label>
            <mat-form-field class="full-width" appearance="fill">
              <input matInput placeholder="Enter user name" required>
            </mat-form-field>
            <br>
            <label>Password </label>
            <mat-form-field class="full-width" appearance="fill">
              <input type="password" matInput placeholder="Enter password">
            </mat-form-field>
            <hr>
            <label>Stage Name</label>
            <mat-icon name="info"></mat-icon>
            <mat-form-field class="full-width" appearance="fill">
              <input matInput
                placeholder="Enter name of the location where your data files are stored for loading into Snowflake"
                required>
            </mat-form-field>
            <br>
            <div class="full-width">
              <mat-checkbox formControlName="isAutoCommit">Auto Commit </mat-checkbox>
              <mat-icon name="info"></mat-icon>
            </div>
            <br>
            <label>Run at Connect </label>
            <mat-form-field class="full-width" appearance="fill">
              <textarea matInput placeholder="Enter SQL to run each time at connect"
                formControlName="runAtConnect"> </textarea>
            </mat-form-field>
            <br>
            <label style="text-align: left;" >Other Parameters </label>
            <br>
            <label>JDBC Fetch Size </label>
            <button mat-icon-button matTooltip="Tooltip on the right side of  the element" matTooltipPosition="after">
              <mat-icon>info</mat-icon>
            </button>
            <mat-form-field class="full-width" appearance="fill">
              <input matInput placeholder="Enter SQL to run each time at connect" formControlName="jdbcFetchSize"
                value="50000">
            </mat-form-field>
            <br>
            <label>Max Field Size </label>
            <button mat-icon-button matTooltip="Tooltip on the right side of  the element" matTooltipPosition="after">
              <mat-icon>info</mat-icon>
            </button>
            <mat-form-field class="full-width" appearance="fill">
              <input matInput placeholder="Enter SQL to run each time at connect" formControlName="maxFieldSize">
            </mat-form-field>
            <br>
            <label>Max Rows to Read </label>
            <button mat-icon-button matTooltip="Tooltip on the right side of  the element" matTooltipPosition="after">
              <mat-icon>info</mat-icon>
            </button>
            <mat-form-field class="full-width" appearance="fill">
              <input matInput placeholder="Enter SQL to run each time at connect" formControlName="maxRowsToRead">
            </mat-form-field>
            <br>

            <br>
            <div class="full-width">
              <mat-checkbox formControlName="incloseInQuote">Always enclose table/column names in double quotes </mat-checkbox>
              <mat-icon name="info"></mat-icon>
            </div>
            <br>
            <div class="full-width">
              <mat-checkbox formControlName="curruntDB">Current Database and Schema only </mat-checkbox>
              <mat-icon name="info"></mat-icon>
            </div>
          </div>
          <mat-card-actions slot="end" class="row" >
           <div slot="start"> <button mat-flat-button >Test Connection</button></div>
            <div slot="end"><button mat-flat-button color="primary">Save</button> <button mat-flat-button color="warning">Cancel</button></div>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </form>
  </div>

</div>
